/******************* RESET ***************************/
a {
  text-decoration: none;
  outline: 0;
  transition: color 1s ease;
}
a:hover {
  color: #ffcc2b;
}
img.responsive {
  max-width: 100%;
}
body {
  background-image: url("../images/bg.jpg");
  background-size: cover;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
h1,
h2 {
  color: #60271e;
  font-weight: 700;
}
/***************** HELPERS ***********************************/
.bck-dark {
  background-color: #4b4b4d;
  color: #fff;
}
.bck-catalogo {
  background-image: url("../images/icon-catalogo.png");
  background-repeat: no-repeat;
  height: 100px;
  width: 273px;
  left: -20px;
}
.w600 {
  width: 520px;
}
.color-white {
  color: #fff;
}
.margin-top {
  margin-top: 20px;
}
.margin-bottom {
  margin-bottom: 20px;
}
.margin-bottom-2 {
  margin-bottom: 40px;
}
.margin-top-2 {
  margin-top: 40px;
}
.margin-top-3 {
  margin-top: 60px;
}
.margin-top-4 {
  margin-top: 80px;
}
.margin-top-5 {
  margin-top: 100px;
}
.margin-top-datos {
  margin-top: 300px;
}
.padding-top {
  padding-top: 20px;
}
.padding-right {
  padding-right: 20px;
}
.padding-right-2 {
  padding-right: 40px;
}
.padding-bottom {
  padding-bottom: 20px;
}
.padding-bottom-2 {
  padding-bottom: 40px;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
/****************** MENUS **********************************/
.nav-item-top {
  margin-top: 110px;
  display: block;
  text-align: center;
}
.nav-item-top:first-of-type {
  border-right: 2px solid #fff;
}
.nav-catalogo {
  overflow: hidden;
  border-bottom: 2px dashed #4b4b4d;
  right: 38px;
  padding-top: 30px;
  padding-left: 210px;
  text-align: center;
  margin-bottom: 50px;
}
.nav-catalogo a {
  float: left;
  padding: 2px 10px 5px 10px;
  border-left: 2px solid #4b4b4d;
  color: #4b4b4d;
  margin-bottom: 5px;
}
.active {
  color: #ffcc2b !important;
  transition: all 1s ease;
}
.active:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 50px;
  top: 25px;
  width: 30px;
  height: 30px;
  background-image: url("../images/icon-arrow.png");
  background-position: center;
  background-repeat: no-repeat;
}
.bg-nav {
  background-image: url("../images/bg-nav.png");
  height: 253px;
  overflow: hidden;
  position: relative;
}
.bg-nav > a {
  float: left;
  width: 17%;
  display: block;
  margin-top: 110px;
  border-right: 2px solid #fff;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  display: block;
  transition: all 1s ease;
}
.bg-nav > a:last-of-type {
  border-right: none;
}
.bg-nav > a:hover {
  color: #ffd140 !important;
  transition: all 1s ease;
}
.bg-nav > a:hover:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 50px;
  top: 25px;
  width: 30px;
  height: 30px;
  background-image: url("../images/icon-arrow-white.png");
  background-position: center;
  background-repeat: no-repeat;
}
.social {
  float: left;
  margin-left: 22%;
  width: 6%;
  margin-top: 100px;
}
.social a {
  color: #353132;
}
.social span {
  color: #353132;
  font-size: 35px;
  margin-top: 8px;
  transition: all 1s ease;
  display: block;
}
.social span.icon-facebook:hover {
  color: #355089;
}
.social span.icon-twitter:hover {
  color: #007294;
}
.social img {
  width: 85%;
  display: block;
  position: relative;
  transition: all 1s linear;
  border-radius: 2px;
}
.social img:hover {
  border: 2px double #4b4b4d;
}
.bg-content {
  background-image: url("../images/bg-content.jpg");
  background-repeat: repeat;
}
.main {
  margin: 20px;
  box-shadow: 0 0 15px 3px rgba(0,0,0,0.4);
  border: 5px solid #fff;
  background-image: url("../images/bg-main.jpg");
  height: 567px;
  padding: 20px;
}
.main p {
  text-align: justify;
  color: #554f43;
  font-size: 14px;
}
.main.contacto {
  background-image: none;
  box-shadow: none;
  border: none;
}
.main.catalogo {
  background-image: none;
  box-shadow: none;
  border: none;
  padding: 0;
  border: none;
  margin: 0;
}
.main.productos {
  background-image: url("../images/bg-productos.jpg");
}
.nav-sub {
  width: 30%;
}
.nav-sub >a {
  display: block;
  border-top: 2px dotted #000;
  padding: 5px 0 2px 10px;
  color: #5b1b11;
}
footer div {
  height: 100px;
  padding: 20px;
}
/************************** formS ******************************/
form.contacto {
  padding: 160px 20px 10px 30px;
  overflow: hidden;
  color: #554f43;
}
form.contacto label {
  display: block;
  text-align: left;
  width: 100%;
  border: none;
}
form.contacto input,
form.contacto textarea {
  display: block;
  width: 100%;
  border: none;
}
form.contacto button {
  float: right;
  color: #fff;
  margin-top: 10px;
  border: none;
  background-color: #b23437;
  padding: 10px 20px;
  text-align: center;
  border-radius: 2px;
}
.list-proucts {
  padding: 70px 10px 10px 50px;
}
.list-proucts li {
  font-size: 18px;
  margin-top: 5px;
}
@-moz-keyframes link {
  0% {
    top: 0px;
  }

  50% {
    top: 25px;
    background-image: url("../images/icon-arrow.png");
    background-position: center;
    background-repeat: no-repeat;
  }

  100% {
    opacity: 0.5;
  }
}
@-webkit-keyframes link {
  0% {
    top: 0px;
  }

  50% {
    top: 25px;
    background-image: url("../images/icon-arrow.png");
    background-position: center;
    background-repeat: no-repeat;
  }

  100% {
    opacity: 0.5;
  }
}
@-o-keyframes link {
  0% {
    top: 0px;
  }

  50% {
    top: 25px;
    background-image: url("../images/icon-arrow.png");
    background-position: center;
    background-repeat: no-repeat;
  }

  100% {
    opacity: 0.5;
  }
}
@-ms-keyframes link {
  0% {
    top: 0px;
  }

  50% {
    top: 25px;
    background-image: url("../images/icon-arrow.png");
    background-position: center;
    background-repeat: no-repeat;
  }

  100% {
    opacity: 0.5;
  }
}
@keyframes link {
  0% {
    top: 0px;
  }

  50% {
    top: 25px;
    background-image: url("../images/icon-arrow.png");
    background-position: center;
    background-repeat: no-repeat;
  }

  100% {
    opacity: 0.5;
  }
}
