/*************************** slider ************************/
.swiper-container {
  margin:0 auto;
  position:relative;
  overflow:hidden;
  width: 135px;
  height: 370px;
  -webkit-backface-visibility:hidden;
  -moz-backface-visibility:hidden;
  -ms-backface-visibility:hidden;
  -o-backface-visibility:hidden;
  backface-visibility:hidden;
  /* Fix of Webkit flickering */
  z-index:1;
}
.swiper-wrapper {
  position:relative;
  width:100%;
  -webkit-transition-property:-webkit-transform, left, top;
  -webkit-transition-duration:0s;
  -webkit-transform:translate3d(0px,0,0);
  -webkit-transition-timing-function:ease;
  
  -moz-transition-property:-moz-transform, left, top;
  -moz-transition-duration:0s;
  -moz-transform:translate3d(0px,0,0);
  -moz-transition-timing-function:ease;
  
  -o-transition-property:-o-transform, left, top;
  -o-transition-duration:0s;
  -o-transform:translate3d(0px,0,0);
  -o-transition-timing-function:ease;
  -o-transform:translate(0px,0px);
  
  -ms-transition-property:-ms-transform, left, top;
  -ms-transition-duration:0s;
  -ms-transform:translate3d(0px,0,0);
  -ms-transition-timing-function:ease;
  
  transition-property:transform, left, top;
  transition-duration:0s;
  transform:translate3d(0px,0,0);
  transition-timing-function:ease;
}
.swiper-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  margin: 0 auto;
}
.swiper-slide {
  float: left;
  margin: .5px 0;
}
.swiper-slide img {
  display: block;
  width: 100%;
  border: 4px solid #fff;
  cursor: pointer;
}
  
/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {
  -ms-touch-action: pan-y;
}
.swiper-wp8-vertical {
  -ms-touch-action: pan-x;
}

.arrow-bottom {
  background: url(../images/icon-arrows.png) no-repeat left top;
  width: 30px;
  height: 16px;
  z-index: 5;
  display: block;
  margin: 5px auto
}
.arrow-top {
  background: url(../images/icon-arrows.png) no-repeat right bottom;
  width: 30px;
  height: 16px;
  z-index: 5;
  display: block;
  margin: 5px auto
}

.portada{
  width: 95%;
  display: block;
  border-left: 15px solid #fff;
  border-right: 15px solid #fff;
  border-bottom: 25px solid #fff;
  border-top: 25px solid #fff;
}