color_dark=#4B4B4D
color_dark_bg=#363435
color_dark_icons=#353132
color_dark_text=#554F43
color_destacado=#FFCC2B
color_tittle=#60271E
color_white=#fff
color_red=#5B1B11
color_button=#B23437
/******************* RESET ***************************/
a 
	text-decoration none
	outline 0
	transition color 1s ease
	&:hover
		color color_destacado
img 
	&.responsive
		max-width 100%
body
	background-image url("../images/bg.jpg")
	background-size cover 
	font-family: 'Roboto', sans-serif
	font-weight 400
h1,h2
	color color_tittle
	font-weight 700

/***************** HELPERS ***********************************/
.bck-dark
	background-color color_dark
	color white
.bck-catalogo
	background-image url("../images/icon-catalogo.png")
	background-repeat no-repeat
	height 100px
	width: 273px
	left -20px
.w600
	width: 520px
.color-white
	color white	

.margin-top 
	margin-top 20px
.margin-bottom 
	margin-bottom 20px
.margin-bottom-2 
	margin-bottom 40px

.margin-top-2 
	margin-top 40px
.margin-top-3 
	margin-top 60px
.margin-top-4 
	margin-top 80px
.margin-top-5 
	margin-top 100px
.margin-top-datos 
	margin-top 300px

.padding-top 
	padding-top 20px
.padding-right 
	padding-right 20px
.padding-right-2 
	padding-right 40px

.padding-bottom 
	padding-bottom 20px
.padding-bottom-2 
	padding-bottom 40px

.text-center
	text-align center
.text-right
	text-align right

/****************** MENUS **********************************/
.nav-item-top
	margin-top 110px
	display block
	text-align center
	&:first-of-type
		border-right 2px solid color_white
.nav-catalogo
	overflow hidden
	border-bottom 2px dashed color_dark
	right 38px
	padding-top 30px
	padding-left 210px
	text-align center
	margin-bottom 50px
	& a 
		float left 
		padding 2px 10px 5px 10px
		border-left 2px solid color_dark
		color color_dark
		margin-bottom 5px

active_link(color_link=color_destacado,pic="../images/icon-arrow.png" )
	color color_link !important
	transition all 1s ease
	&:after
		content ""
		position absolute
		bottom 0
		right 50px
		top 25px
		width 30px
		height 30px
		background-image url(pic)
		background-position center 
		background-repeat no-repeat

@keyframes link 
	0%
		top 0px
	50% 
		top 25px
		background-image url("../images/icon-arrow.png")
		background-position center 
		background-repeat no-repeat
	100% 
		opacity .5
.active
	active_link()

.bg-nav
	background-image url("../images/bg-nav.png")
	height 253px
	overflow hidden
	position: relative
	& > a 
		float left
		width 17%
		display block
		margin-top 110px
		border-right 2px solid color_white
		text-align center
		color color_white
		text-transform uppercase
		position relative
		display: block
		transition all 1s ease
		&:last-of-type
			border-right none
		&:hover
			active_link( lighten(color_destacado ,10%),"../images/icon-arrow-white.png" )

.social
	float left
	margin-left 22%
	width: 6%
	margin-top 100px
	& a 
		color color_dark_icons
	& span
		color color_dark_icons
		font-size 35px
		margin-top 8px
		transition all 1s ease
		display block
		block-center()
		&.icon-facebook
			&:hover
				color darken(#3B5998,10%)

		&.icon-twitter
			&:hover
				color darken(#00BEF6,40%)
	& img 
		width: 85%
		display block
		block-center()
		position relative
		transition all 1s linear
		border-radius 2px
		&:hover
			border 2px double color_dark

.bg-content
	background-image url("../images/bg-content.jpg")
	background-repeat repeat
.main 
	margin 20px
	box-shadow 0 0 15px 3px rgba(0, 0, 0, .4)
	border 5px solid color_white
	background-image url("../images/bg-main.jpg")
	height 567px
	padding 20px
	& p 
		text-align justify
		color color_dark_text 
		font-size 14px
	&.contacto
		background-image none
		box-shadow none
		border none
	&.catalogo
		background-image none
		box-shadow none
		border none
		padding 0
		border none
		margin 0
	&.productos
		background-image url("../images/bg-productos.jpg")

.nav-sub
	width 30%
	& >a
		display block
		border-top 2px dotted #000
		padding 5px 0 2px 10px
		color color_red

footer
	& div
		height 100px
		padding 20px
/************************** formS ******************************/
form 
	&.contacto
		padding 160px 20px 10px 30px  
		overflow hidden
		color color_dark_text
		& label
			display block
			text-align left 
			width 100%
			border none
		& input, & textarea
			display block
			width 100%
			border none
		& button
			float right
			color color_white
			margin-top 10px
			border none
			background-color color_button
			padding 10px 20px 
			text-align center
			border-radius 2px
.list-proucts
	padding 70px 10px 10px 50px
	& li 
		font-size 18px
		margin-top 5px